*.a
*.gcda
*.gcno
*.gcno.gcov.json.gz
*.gcov
*.la
*.lo
*.so
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

# pre-generated for Android: /include/xtables-version.h

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/configure~
/libtool
/stamp-h1
/iptables/iptables-apply.8

/iptables/xtables-multi
/iptables/xtables-compat-multi

# vim/nano swap file
*.swp

/tags

# make check results
/test-suite.log
/iptables-test.py.log
/iptables-test.py.trs
/xlate-test.py.log
/xlate-test.py.trs
iptables/tests/shell/run-tests.sh.log
iptables/tests/shell/run-tests.sh.trs
